.card{
    border: none;
    width: 500px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(90deg, #6daec0 0%, #92FE9D 100%);
}
.card h1,
h6{
    color: #ffff;
}
label{
    color: #ffff;
}
#emailHelp{
    color: red;
}