.card{
    border: none;
    width: 500px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -45%);
    background: linear-gradient(90deg, #FDBB2D 0%, #22C1C3 100%);
}
.card h1,
h6{
    color: #ffff;
}
label{
    color: #ffff;
}
#emailHelp{
    color: red;
}